.sidebar__groups__content
  .sidebar__groups__content__name
    グループ名１
  .sidebar__groups__content__chat
    チャット内容１
.sidebar__groups__content
  .sidebar__groups__content__name
    グループ名２
  .sidebar__groups__content__chat
    チャット内容２
.sidebar__groups__content
  .sidebar__groups__content__name
    グループ名３
  .sidebar__groups__content__chat
    チャット内容３
