%div.sidebar__groups__content
  %div.sidebar__groups__content__name
    グループ名１
  %div.sidebar__groups__content__chat
    チャット内容１
%div.sidebar__groups__content
  %div.sidebar__groups__content__name
    グループ名２
  %div.sidebar__groups__content__chat
    チャット内容２
%div.sidebar__groups__content
  %div.sidebar__groups__content__name
    グループ名３
  %div.sidebar__groups__content__chat
    チャット内容３
