%div.content
  %div.sidebar
    %div.sidebar__user
      %div.sidebar__user__content
        %div.sidebar__user__content__name
          ユーザー名
        = link_to root_path, class: "sidebar__icon" do
          = fa_icon 'cog'
        = link_to root_path, class: "sidebar__icon" do
          = fa_icon 'edit'
    %div.sidebar__groups
      %div.sidebar__groups__content
        %div.sidebar__groups__content__name
          グループ名１
        %div.sidebar__groups__content__chat
          チャット内容１
      %div.sidebar__groups__content
        %div.sidebar__groups__content__name
          グループ名２
        %div.sidebar__groups__content__chat
          チャット内容２
      %div.sidebar__groups__content
        %div.sidebar__groups__content__name
          グループ名３
        %div.sidebar__groups__content__chat
          チャット内容３
  %div.main
