.main__content__message
  .main__content__message__upper
    %span.main__content__message__upper__name
      = message.user.name
    %span.main__content__message__upper__datetime
      = message.created_at.to_s
  - if message.body.present?
    .main__content__message__text
      = message.body
  = image_tag message.image, class: 'main__content__message__image' if message.image.present?
