.sidebar {
  height: 100%;
  width: 300px;
  background-color: #2f3e51;
  float: left;
  .sidebar__user {
    height: $head-height;
    width: 100%;
    background-color: #253141;
  }
  .sidebar__groups {

  }

}
