/*
 *= require font-awesome
 */
/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/
html {
  color: #000;
  background: #FFF; }

/*
    TODO remove settings on BODY since we can't namespace it.
*/
/*
    TODO test putting a class on HEAD.
        - Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

/*
    TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ''; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%; }

/*because legend doesn't inherit in IE */
legend {
  color: #000; }

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none; }

html {
  height: 100%; }
  html body {
    height: 100%; }
    html body .content {
      height: 100%; }

.main {
  height: 100%;
  width: calc(100vw - 300px);
  background-color: #AAAAAA;
  float: left; }
  .main__header {
    height: 100px;
    padding: 0 40px;
    border-bottom: solid 1px #eee;
    background-color: #fff;
    box-sizing: border-box; }
    .main__header__group {
      padding-top: 35px;
      float: left; }
      .main__header__group__name {
        font-size: 20px;
        color: #333; }
      .main__header__group__members {
        font-size: 12px;
        color: #999; }
    .main__header__editbutton {
      height: 40px;
      line-height: 40px;
      border: solid 2px #38AEF0;
      color: #38AEF0;
      margin-top: 28px;
      padding: 0 20px;
      text-decoration: none;
      float: right; }
  .main__content {
    height: calc(100% - 100px - 90px);
    padding: 6px 40px 0; }
    .main__content__message {
      padding-top: 40px; }
      .main__content__message__upper {
        float: left;
        margin-bottom: 10px; }
        .main__content__message__upper__name {
          font-size: 16px;
          color: #434A54;
          font-weight: bold;
          margin-right: 10px; }
        .main__content__message__upper__datetime {
          font-size: 12px;
          color: #999; }
      .main__content__message__text {
        font-size: 16px;
        color: #434A54;
        clear: both; }
  .main__footer {
    height: 90px; }

.sidebar {
  height: 100%;
  width: 300px;
  background-color: #2f3e51;
  float: left; }
  .sidebar__user {
    height: 100px;
    width: 100%;
    background-color: #253141; }
    .sidebar__user__content {
      width: 100%;
      line-height: 100px;
      padding-left: 20px;
      padding-right: 20px;
      box-sizing: border-box; }
      .sidebar__user__content__name {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        float: left; }
  .sidebar__groups__content {
    width: 100%;
    padding: 20px;
    box-sizing: border-box; }
    .sidebar__groups__content__name {
      font-size: 15px;
      color: #fff; }
    .sidebar__groups__content__chat {
      font-size: 11px;
      color: #fff; }

.sidebar__icon {
  float: right;
  color: #fff;
  font-size: 16px;
  margin-left: 5px; }

/*# sourceMappingURL=application.css.map */
